/*DEBUG*/
.debug{
    height: 300px;
    color: green;
    background-color: red;
}

/*COMMON*/

h2{
    text-transform: uppercase;
}

/*BACKGROUND COLOR*/
.blu_scuro{
    background-color: #2c3e50;
    color: white;
}

.verde_acqua{
    background-color: #1abc9c;
    color: white;
}

.grigio_blu{
    background-color: #3a546d;
    color: white;
}

/*HEADER*/
/*NAV*/
nav{
    text-transform: uppercase;
    
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0 1%;

}

nav li a {
    color: white;
}

.right{
    text-align: right;
    padding-top: 20px;
}
.burger_menu{
    font-size: 20px;
}
/*FINE NAV*/

/*JUMBOTRON*/
.jumbotron{
    text-align: center;
    height: 500px;
    text-transform: uppercase;
}
/*FINE JUMBOTRON*/
/*FINE HEADER*/

/*MAIN*/
/*PORTFOLIO*/
#portfolio{
    text-align: center;  
}
/*FINE PORTFOLIO*/

/*ABOUT*/
#about{
    text-align: center;
}

.about_text_left{
    text-align: center;
    width: 80%;
    margin: auto;
}

.about_text_right{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2% 0;
}

@media all and ( min-width : 768 px ) {

    .about_text_left{
        text-align: left;
        width: 80%;
        margin: auto;
    }
    
    .about_text_right{
        text-align: left;
        width: 80%;
        margin: auto;
        padding: 2% 0;
    }
}
/*FINE ABOUT*/

/*CONTACT*/
#contact{
    text-align: center;
}

.border{
    border-bottom: 1px solid #cecece;
    text-align: left;
    padding: 1% 0;
    margin: 0 20%;
}

.border_message{
    border-bottom: 1px solid #cecece;
    text-align: left;
    padding: 1% 0 180px 0;
    margin: 0 20%;
}
/*FINE CONTACT*/
/*FINE MAIN*/

/*FOOTER*/
footer{
    text-align: center;
}

.padding_footer{
    padding: 0 0 3% 0;
}

footer .copyright{
    padding: 2% 0 3% 0;
}
/*FINE FOOTER*/
