/*DEBUG*/
.debug{
    height: 300px;
    color: green;
    background-color: red;
}

/*COMMON*/

h2{
    text-transform: uppercase;
}

/*BACKGROUND COLOR*/
.blu_scuro{
    background-color: #2c3e50;
    color: white;
}

.verde_acqua{
    background-color: #1abc9c;
    color: white;
}

/*HEADER*/
/*NAV*/
nav{
    text-transform: uppercase;
    
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0 1%;

}

nav li a {
    color: white;
}

.right{
    text-align: right;
    padding-top: 20px;
}
.burger_menu{
    font-size: 20px;
}
/*FINE NAV*/

/*JUMBOTRON*/
.jumbotron{
    text-align: center;
    height: 500px;
    text-transform: uppercase;
}
/*FINE JUMBOTRON*/
/*FINE HEADER*/

/*MAIN*/
/*PORTFOLIO*/
#portfolio{
    text-align: center;  
}
/*FINE PORTFOLIO*/

/*ABOUT*/
#about{
    text-align: center;
}

.about_text_left{
    text-align: left;
    padding: 0 2% 0 30%;
}

.about_text_right{
    text-align: left;
    padding: 0 30% 0 2%;
}

@media all and ( min-width : 992 px ){

}

@media all and ( min-width : 992 px ){
    
}

/*FINE ABOUT*/

/*FINE MAIN*/
